<section class="section">
  <div class="content_logo">
    <span>최신 글</span>
  </div>
  <div class="card_wrap">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% for (let i = 0; i < data.length; i++) { %>
      <div class="col">
        <div id="post" class="card">
          <img
            src="https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="hide" id="post_id"><%= data[i].post_id %></p>
            <h5 id="title" class="card-title"><%= data[i].title %></h5>
            <p id="content" class="card-text"><%= data[i].content %></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <!-- <div class="more_btn">View More</div> -->
</section>
<script>
  // index.ejs가 다 로드 되면 실행해줘.
  document.addEventListener('DOMContentLoaded', function () {
    const posts = document.querySelectorAll('#post');
    posts.forEach((post) => {
      post.addEventListener('click', function (e) {
        e.preventDefault();
        const post_id = post.querySelector('#post_id').textContent;

        fetch(`/api/posts/${post_id}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        })
          .then((res) => {
            // 첫 번째 단계: 응답이 성공적인지 확인

            return res.json();
          })
          .then((data) => {
            window.location.href = `/api/posts/detail/${data.post[0].post_id}`;
            console.log(data.post[0].post_id);
          })
          .catch((error) => {
            console.log(error);
          });
      });
    });
  });
</script>
