<section class="section">
  <div class="content_logo">
    <span>최신 글</span>
  </div>
  <div class="card_wrap">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% for (let i = 0; i < data.length; i++) { %>
      <div class="col">
        <div id="post" class="card">
          <img
            src="https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p id="post_id"><%= data[i].post_id %></p>
            <h5 id="title" class="card-title"><%= data[i].title %></h5>
            <p id="content" class="card-text"><%= data[i].content %></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="more_btn">View More</div>
</section>
