<footer>
  <div class="footer_wrap">
    <h1 class="footer_logo">D-ingco Team</h1>
    <p class="member_list">
      <span>김주완</span>
      <span>안정혁</span>
      <span>이아영</span>
      <span>최수영</span>
    </p>
    <p>
      <a href="https://github.com/choisooyoung-dev/d-ingco"
        ><i class="fa-brands fa-github github_icon"></i
      ></a>
    </p>
  </div>
</footer>
