<header class="header">
  <h1 class="logo">
    <a href="/api/posts"><i class="fa-solid fa-code"></i> D-ingco</a>
  </h1>
  <div class="contents_box">
    <% if(!user) {%>
    <span class="header_btn login_btn"
      ><a href="/api/users/login">로그인</a></span
    >
    <span class="header_btn signup_btn"
      ><a href="/api/users//signup">회원가입</a></span
    >
    <% } else { %>
    <span class="header_btn logout_btn"
      ><a href="/api/users/logout">로그아웃</a></span
    >
    <span class="header_btn info_btn"><a href="/user-info">내 정보</a></span>
    <% } %>
    <span class="search_wrap">
      <input class="search_box" type="text" placeholder="검색" />
      <span class="search_btn"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></span>
    </span>
  </div>
</header>
