<section class="detail_section">
  <div class="detail_section_wrap">
    <div class="detail_wrap">
      <h1 class="detail_title"><%= data[0].title %></h1>
      <div class="user_info">
        <span class="author" id="username"><%= data[0].user.username %></span>
      </div>
      <p><%= data[0].content %></p>
      <div class="post_btn_wrap">
        <button
          id="post_update_btn"
          type="submit"
          class="post_update_btn post_btn btn btn-outline-danger"
        >
          <a href="/api/users/login">수정하기</a>
        </button>
        <button
          id="post_del_btn"
          type="submit"
          class="post_del_btn post_btn btn btn-outline-danger"
        >
          <a href="/api/users/login">삭제하기</a>
        </button>
      </div>
    </div>

    <br />
    <br />
    <div class="comment_wrap">
      <div class="comment_form">
        <form action="" method="post">
          <label for="comment_form" class="col-sm-2 col-form-label">댓글</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="input_pw form-control"
              id="comment_content"
              name="comment_content"
            />
          </div>
        </form>
        <button
          id="comment_submit_btn"
          type="submit"
          class="comment_submit_btn post_btn btn btn-outline-danger"
        >
          <a href="/api/users/login">저장하기</a>
        </button>
      </div>
      <div class="comment">
        <h3 class="username">username</h3>
        <span class="comment_content">댓글1</span>
      </div>
      <div class="comment">
        <h3 class="username">username</h3>
        <span class="comment_content">댓글2</span>
      </div>

      <div class="comment">
        <h3 class="username">username</h3>
        <span class="comment_content">댓글3</span>
      </div>
    </div>
  </div>
</section>

<script>
  // index.ejs가 다 로드 되면 실행해줘.
  document.addEventListener('DOMContentLoaded', function () {
    const posts = document.querySelectorAll('#post');
    const postBtnWrap = document.querySelector('.post_btn_wrap');
    const postUsername = document.getElementById('username'); // 게시글의 username 조회하기
    const usernameValue = postUsername.textContent; // text 값 가져오기

    // url에서 post_id 추출
    const url = window.location.href;
    const parts = url.split('/');
    const post_id = parts[parts.length - 1];

    fetch(`/api/posts/${post_id}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then((response) => response.json())
      .then((data) => {
        const username = data.username;
        // 게시글 아이디 === 로그인한 아이디
        if (usernameValue === username) {
          // 본인 게시글일 때
          postBtnWrap.style.display = 'block';
        } else {
          // 본인 게시글이 아닐 때
          postBtnWrap.style.display = 'none';
        }
      })

      .catch((error) => {
        console.log(error);
      });
  });
</script>
