<div class="login_wrap">
  <form id="myInfoForm" action="/api/users/user-info" method="POST">
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">이름</label>
      <div class="input_wrapcol-sm-10">
        <input
          type="text"
          class="input_name form-control"
          id="name"
          name="name"
          value="<%= data.name %>"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">이메일</label>
      <div class="input_wrapcol-sm-10">
        <input
          type="email"
          class="input_email form-control"
          id="email"
          name="email"
          value="<%= data.email %>"
        />
      </div>
    </div>
    <button
      type="button"
      id="editBtn"
      class="login_submit_btn btn btn-outline-danger"
    >
      수정하기
    </button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const editBtn = document.getElementById('editBtn');
    const myInfoForm = document.getElementById('myInfoForm');

    editBtn.addEventListener('click', function (e) {
      e.preventDefault();
      // 로그인 폼 데이터 가져오기
      const formData = new FormData(myInfoForm);
      const urlSearchParams = new URLSearchParams(formData);

      // 서버로 로그인 요청 보내기
      fetch('/api/users/user-info', {
        method: 'PUT',

        body: urlSearchParams,
      })
        .then((res) => res.json())
        .then((data) => {
          alert('수정이 완료되었습니다.');
        })
        .catch((error) => {
          console.log(error);
        });
    });
  });
</script>
