<div class="login_wrap">
  <form>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">이름</label>
      <div class="input_wrap col-sm-10">
        <input type="text" class="input_name form-control" id="inputEmail3" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">아이디</label>
      <div class="input_wrap col-sm-10">
        <input
          type="text"
          class="input_username form-control"
          id="inputEmail3"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">이메일</label>
      <div class="input_wrap col-sm-10">
        <input type="email" class="input_email form-control" id="inputEmail3" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label"
        >비밀번호</label
      >
      <div class="input_wrap col-sm-10">
        <input
          type="password"
          class="input_pw form-control"
          id="inputPassword3"
        />
      </div>
    </div>

    <button type="submit" class="login_submit_btn btn btn-outline-danger">
      <a href="">수정하기</a>
    </button>
  </form>
</div>
